*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --light_color:white;
    --text_color:black;
    --dark_color:#23272A;
    --blue_button: #8EA1E1;
    --footer_text-color:#7289DA;
}

/* header */

#main_header{
    background-image: url(../img/jumbo.png);
    background-size: cover;   
}


.site_container{
    height: 65vh;
    position: relative;   
}

.margin{
    margin-top: 5rem;
}

.header_container, .float_container, .center_section{
    margin: 0 auto;
    width: 1200px;   
}


.header_menu{
    padding: 2rem;
    color: var(--light_color); 
}


.box_logo, .navbar, .log_in{
   float: left; 
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 46%;color: var(--light_color);
}


/*navbar*/
.navbar{
    text-align: center;
    width: 80%;  
    line-height: 30px;
}

.navbar>ul li{
    text-decoration: none;
     font-weight:500;
    padding-right: 2rem;  
    display: inline-block; 
}

a{
    text-decoration: none;
    color: var(--light_color);
}

/*button type*/

.s_button{
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem;
    border-radius: 20px;
    line-height: 35px;
}

.m_button{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.2rem 2rem 1.2rem;
    border-radius: 30px;   
    margin: 1rem;
    font-family: Helvetica, sans-serif;    
}


.white_button{
    background-color: var(--light_color);
    color: #23272A; 
}

.dark_button{
    background-color: var(--dark_color);
    color: var(--light_color);
}

.blue_button{
    background-color: var(--blue_button);
    color: var(--light_color);
}

.download_button{
    text-align: center;  
}



/*text type*/

h1{
    font-size: 3.5rem;
    margin-bottom: 3rem;   
    font-weight: 600;
}

h2{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 2rem;
}

.star>h3{
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 0rem 2rem 0rem 2rem;
    
}

.col_30>h3{
    color: var(--footer_text-color);
    font-size: 2rem;
}

h4{
    color: var(--footer_text-color);
}

p{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}


/*grid*/

.float_container::after, .header_menu::after, .col_70::after{
    content: "";
    clear: both;
    display: table;
  }

.col_40{
    float: left;
    width: 40%;
}

.col_60{
    float: left;
    width: 60%;
}

  .col_60, .col_45{
      padding: 4rem;
  }

  .col_30{
    float: left;
    width: 30%;
  }

  .col_15{
    float: left;
    width: 25%;
  }

  .col_70{
    float: left;
    width: 70%;
  }

  .col_right{
      float: right;
  }
  .float_container{
      color: var(--dark_color);
      padding-top: 5rem;
  }

  #float_container_footer{
      padding-top:2rem ;
  }



  /*effect waves*/

  .background_gray{
    background-color: #F6F6F6;
    height: 50%;
  }

  .bg_wave{
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    height: 120px;
    background-color: var(--light_color);
   background-size: cover;
}

.rotate{
    transform: rotate(180deg);
}

/*end_site*/

.discord_img{
    height: 700px;
}
.center_section{
    text-align: center;
    padding: 3rem 0 8rem 0rem;
   
}

.p_relative{
    position: relative;
    margin-bottom: 6rem;
    
}
.star{
    
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 500px;
    background-position: center;
    background-size: contain;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/*footer*/

footer{
    background-color: #23272A;
    line-height: 2rem;
    font-weight: 500;
}

#languages{
    border: none;
    background-color: transparent;
    color: var(--light_color);
}
#ita{
    height: 20px;
    vertical-align: middle;
}

.social{
    color: var(--light_color);
}

.social>*{
    margin-right: 1.5rem;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.float_footer{
    border-bottom: solid 0.5px var(--footer_text-color);
    padding-bottom: 2rem;
}