*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --light_color:white;
    --text_color:black;
    --dark_color:#23272A;
}
/* header */

#main_header{
    background-image: url(../img/jumbo.png);
    background-size: cover;   
}


.site_container{
    height: 65vh;
    position: relative;    
}

.header_container, .float_container{
    margin: 0 auto;
    width: 1500px;
    
}

.site_container::after{
    content: "";
    clear: both;
    display: table;
}

.header_menu{
    padding: 2rem;
    color: var(--light_color);
}


.box_logo, .navbar, .log_in, ul li{
   display: inline-block;
}

.box_logo{
    vertical-align: middle;
}

/*navbar*/
.navbar{
    text-align: center;
    width: 80%;  
}

ul li{
    text-decoration: none;
     font-weight:500;
    padding-right: 2rem;   
}

a{
    text-decoration: none;
    color: var(--text-color_header);
}

/*button type*/

.s_button{
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem;
    border-radius: 20px;
}

.m_button{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.2rem 2rem 1.2rem;
    border-radius: 30px;   
    margin: 1rem;
    font-family: Helvetica, sans-serif;    
}


.white_button{
    background-color: var(--light_color);
    color: #23272A; 
}

.dark_button{
    background-color: var(--dark_color);
    color: var(--light_color);
}

/*main*/

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 46%;
    
    color: var(--light_color);
}

h1{
    font-size: 3.5rem;
    margin-bottom: 3rem;   
    font-weight: 600;
}

h2{
    font-size: 2.8rem;
    font-weight: 700;
}


p{
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.download_button{
    text-align: center;  
}

.col_35{
    float: left;
    width: 35%;
}

.col_60{
    float: left;
    width: 60%;
}

.float_container::after{
    content: "";
    clear: both;
    display: table;
  }

  .col_60, .col_35{
      padding: 4.5rem;
  }

  .float_container{
      color: var(--dark_color);
  }

  p{
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.8rem;
      font-weight: 500;
  }


  /*effect waves*/

  .background_gray{
    background-color: #F6F6F6;
    height: 50%;
  }

  .bg_wave{
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    height: 120px;
    background-color: var(--light_color);
   background-size: cover;
}

.rotate{
    transform: rotate(180deg);
}